[Unit]
Description=Manage a selenium grid hub
Documentation=

[Service]
ExecStart=/usr/bin/java -jar /home/vagrant/selenium-standalone-server.jar -role hub
Type=simple

[Install]
WantedBy=multi-user.target
